<h4>Kronos Data Collector</h4>

<p>This will automatically upload photos of your prints to the Project Kronos servers to aid in the </p>

<p>
        <label for="enablePlugin"><strong>Enable Plugin?</strong></label>
        <input class="input-checkbox" type="checkbox" id="enablePlugin" data-bind="checked: settings.plugins.kronos_data_collector.enablePlugin">
    </p>