
<h4>Kronos Data Collector</h4>

<h1>What it is</h1>
<p>Kronos Data Collector will automatically upload photos <b>and timelapses</b> (assuming you have timelapses enabled) of your prints to the Project Kronos servers to aid in the collection of a dataset. </p>
<p>Project Kronos is an effort to create a webcam-based Neural Network to classify snapshots from a 3D Printer as "Failed" or "Successful". This will be implemented in real-time as an Octoprint plugin to automatically pause the printer and alert the user of the potential error, leading to far less wasted filament and a lower chance of printer damage. For more information on Project Kronos, please visit: https://github.com/MrBreadWater/project-kronos</p>
<br>
<p> All uploads are anonymous. For more privacy information, please visit: <a href ="https://mrbreadwater.github.io/project-kronos-data-collector/">https://mrbreadwater.github.io/project-kronos-data-collector/</a></p>
<h1>Instructions</h1>

<p>To run this, all you need to do is check the box below. It's also incredibly helpful if you use a timelapse program. That way I can get as close as possible to the moment of failure, and therefore be able to detect failure as soon as possible.</p>
<form class="form-horizontal" onsubmit="return false;">
	<p>
        <label for="enablePlugin"><strong>Enable Plugin?</strong></label>
        <input class="input-checkbox" type="checkbox" id="enablePlugin" data-bind="checked: settings.plugins.kronos_data_collector.enablePlugin">
    </p>
    <p> <strong>NOTE: </strong> by enabling this plugin, you agree to the anonymous collection of any timelapses rendered while you keep the plugin enabled. </p>
    <p> No identifying information about you will be attatched to these files. 
</form>
